# Docker
.dockerignore
Dockerfile

# Git
.git
.gitignore
.gitattributes

# VS
.vs
.vscode

# Environments
.env
.env.production
env.sh

# Project
conf/
build/
public/env.js
node_modules/
docs/
License
README.md